name = "compliance-iegm-dashboard"
pages_build_output_dir = "dist"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "iegm-dashboard-db"
database_id = "97473a66-8df3-4a6a-8fd4-147a2e93228b"