name = "compliance-iegm-dashboard"
pages_build_output_dir = "dist"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "iegm-dashboard-db"
database_id = "dcb723ba-b7ee-4851-8fb4-6fe106279b01"